body{
    font-family: 'Lato';
}

.box-titulo{
    text-align: center;
}

.box-titulo h1{
  
    text-transform: uppercase;
    color:#6c757d;
    font-size: 25px;
}
.box-titulo h1 img{
    vertical-align: sub;
}

#form .row-nowrap{
    flex-wrap: nowrap;
}
.span-person{
     font-weight:bold;
    text-transform: uppercase;
    color:#6c757d;
    height: 37px;
    line-height: 34px;

   
}
.box-btns button{
 text-align: left;
}

.box-btns button:first-child{
background: #adb5bd;
color: #3d4246
}
.box-btns button:last-child{
    color: #545b62;
    background: #FFF
}
.total-geral{
    display: none;
}

#form .input-group-text{
    background-color: #f8f9fac2;
    color:#6c757d;
    
}


::-webkit-input-placeholder{ 
    color: #aab0b4 !important;
  }
::-moz-placeholder{ 
    color: #aab0b4 !important;
  }
:-ms-input-placeholder  { 
    color: #aab0b4 !important;
  }
  